/* Reset default margin dan padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gaya untuk body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Gaya untuk header */
header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
}

/* Gaya untuk main */
main {
  padding: 20px;
  text-align: center;
}

/* Gaya untuk tombol */
button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005f73;
}

/* Gaya untuk footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
